:root{
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif;
}
header{
    padding: 45px 0;
}
.hero{
    background-image: url(./bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 619px;
}